# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [7]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:Admin@localhost:5432/fraud_detection")

# Quering out card holders long with the timestamp and amount details
query = f"""
        SELECT c.cardholder_id as cardholder, t.date, t.amount
        FROM credit_card as c
        INNER JOIN transaction as t on c.card = t.card;
        """

# Create the dataframe based on the query
df = pd.read_sql(query, engine)
df.head()

   cardholder                date  amount
0          13 2018-01-01 21:35:10    6.22
1          13 2018-01-01 21:43:12    3.83
2          10 2018-01-01 22:41:21    9.61
3           4 2018-01-01 23:13:30   19.03
4          18 2018-01-01 23:15:10    2.95

In [8]:
# Write function that locates outliers using standard deviation
def outliers(df):
    std = df['amount'].std()
    mean = df['amount'].mean()
    df = df.loc[(df['amount'] > mean+std*2) | (df['amount'] < mean-std*2)]
    return df

In [9]:
# Find anomalous transactions for 3 random card holders

# Randomly fetching 3 different card holders IDs
id_1, id_2, id_3 = random.choices(df['cardholder'], k=3)

# Calling outliers func for first card holder
df_1 = outliers(df.loc[df['cardholder'] == id_1])

# Calling outliers func for second card holder
df_2 = outliers(df.loc[df['cardholder'] == id_2])

# Calling outliers func for third card holder
df_3 = outliers(df.loc[df['cardholder'] == id_3])

# Displaying all outliers in one dataframe
df_all = pd.concat([df_1, df_2, df_3], axis='rows', join='inner')
df_all

      cardholder                date   amount
1677          23 2018-06-21 22:11:26    20.65
15            12 2018-01-02 23:27:46  1031.00
219           12 2018-01-23 06:29:37  1678.00
708           12 2018-03-12 00:44:01  1530.00
795           12 2018-03-20 10:19:25   852.00
1673          12 2018-06-21 13:16:25  1102.00
1729          12 2018-06-27 01:27:09  1592.00
1745          12 2018-06-28 21:13:52  1108.00
2549          12 2018-09-23 19:20:23  1075.00
3171          12 2018-11-25 20:44:07  1123.00
3187          12 2018-11-27 15:36:05  1802.00
3331          12 2018-12-14 08:51:41   748.00
1677          23 2018-06-21 22:11:26    20.65

## Identifying Outliers Using Interquartile Range

In [10]:
# Write a function that locates outliers using interquartile range
def iqr(df):
    q3 = df['amount'].quantile(0.75)
    q1 = df['amount'].quantile(0.25)
    iqr_val = q3 - q1
    
    upper_bound = q3 + iqr_val*1.5
    lower_bound = q1 - iqr_val*1.5
    
    df = df.loc[(df['amount'] > upper_bound) | (df['amount'] < lower_bound)]
    return df

In [11]:
# Find anomalous transactions for 3 random card holders

# Assumption made as same before random 3 card holders outliers calculate using this method

# Calling iqr func for first card holder
df_3 = iqr(df.loc[df['cardholder'] == id_1])

# Calling iqr func for second card holder
df_4 = iqr(df.loc[df['cardholder'] == id_2])

# Calling iqr func for third card holder
df_5 = iqr(df.loc[df['cardholder'] == id_3])

# Displaying all outliers in one dataframe
df_all_1 = pd.concat([df_3, df_4, df_5], axis='rows', join='inner')
df_all_1

      cardholder                date  amount
15            12 2018-01-02 23:27:46  1031.0
219           12 2018-01-23 06:29:37  1678.0
708           12 2018-03-12 00:44:01  1530.0
795           12 2018-03-20 10:19:25   852.0
1673          12 2018-06-21 13:16:25  1102.0
1729          12 2018-06-27 01:27:09  1592.0
1745          12 2018-06-28 21:13:52  1108.0
2549          12 2018-09-23 19:20:23  1075.0
3153          12 2018-11-23 09:08:05   233.0
3171          12 2018-11-25 20:44:07  1123.0
3187          12 2018-11-27 15:36:05  1802.0
3331          12 2018-12-14 08:51:41   748.0